// $orange_main: orange;
// $red_main: red;
// $blue_main: blue;
$white_main: #FFF;
$black_main: #181818;
$blue_hover: rgb(4, 4, 65);
$white_hover: rgba(193, 211, 241, 0.132);
$secondary_black: #000;
$alternative_gray: #808080; 
$stroke_main: #DBDBDB;
$secondary_stroke: #CCC;