.price{
    padding: 120px 0px 120px 0px;
    &__calc{
        padding: 40px 24px;
        width: 448px;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid $secondary_stroke;
        background: $white_main;
        margin: auto;
        margin-top: 80px;
        display: flex;
        &__project-info{
            margin-top: 24px;
        }
        &__school-info{
            margin-top: 24px;
            display: flex;
            gap: 16px;
            justify-content: flex-start;
            &__text{
                width: 331px
            }
        }
        &__button{
            margin: auto;
            margin-top: 32px;
            width: 400px;
        }
    }
    &__total{
        margin: auto;
        display: flex;
        width: 400px;
        padding: 40px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        border-radius: 0px 0px 16px 16px;
        border: 1px solid $secondary_stroke;
        background: $white_main;
        &__button{
            .paragraph{
                color: $white_main;
            }
            margin: auto;
            margin-top: 40px;
            width: 352px;
        }
    }
}